<div>
    <h1>{{ welcomeMessage }}</h1>
    
    <div class="from-group">
        <select [(ngModel)]="currentQuizId" (change)="loadQuiz(currentQuizId)" class="from-control">
            <option *ngFor="let quiz of quizes" [value]="quiz.id" > {{ quiz.title }} </option>
        </select>
    </div>
    <div *ngIf="isQuizStarted">
        {{ currentQuiz.description }}
        <table>
            <tr *ngFor="let question of currentQuiz.questions">
                <my-question (onAnswered)="questionOnAnswered($event)" [question]="question" [result]="learnignRoutine"></my-question>
            </tr>
        </table>
        <button (click)="submitQuiz()"></button>
    </div>
</div>