<div>
    <h1>{{ welcomeMessage }}</h1>
    <label>Choose quiz to edit: </label>
    <select class="form-control" [(ngModel)]="selectedQuizId" (change)="loadQuiz(selectedQuizId)">
        <option *ngFor="let quizToEdit of quizesToEdit" [value]="quizToEdit.id">{{ quizToEdit.title }}  --  {{ quizToEdit.id }}</option>
    </select>
    <h4>
        Number of questions in your quiz: {{ selectedQuiz.questions?.length}}
    </h4>
    <form>
        <div class="form-group">
            <div>
                <label>Title: </label>
                <div>
                    <input class="left" type="text" placeholder="Your title.." [(ngModel)]="selectedQuiz.title" name="title" />
                    {{ selectedQuiz.title }}
                </div>
            </div>
            <div>
                <label>Description: </label>
                <textarea class="form-control" rows="5" [(ngModel)]="selectedQuiz.description" name="description"></textarea>
            </div>
        </div>
        <button class="btn btn-success" (click)="saveQuiz(selectedQuizId)">Save description</button>
    </form>
    {{selectedQuiz | json}}
    <my-question-builder *ngFor="let question of selectedQuiz.questions" [question]="question"></my-question-builder>
</div>