<div>
    <h1>{{ welcomeMessage }}</h1>
    
    <div class="from-group">
        <select [(ngModel)]="currentQuizId" (change)="loadQuiz(currentQuizId)" class="from-control">
            <option *ngFor="let quiz of quizes" [value]="quiz.id" > {{ quiz.title }} </option>
        </select>
    </div>
    <div *ngIf="isQuizStarted">
        {{ currentQuiz.id }}
        <table>
            <tr *ngFor="let question of currentQuiz.questions">
                <my-question [question]="question"></my-question>
            </tr>
        </table>
    </div>
</div>