@model System.Collections.Generic.List<Topic>


    @{
        ViewData["Title"] = "Список тем";
    }

    <h2>Список тем</h2>

    @*<form asp-action="Index">

        <input asp-for="Uri" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Go!" class="btn btn-default" />
            </div>
        </div>
    </form>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Вопросы
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @item.TopicTitle
                    </td>
                    <td>
                        @item.Questions.Count
                    </td>
                    <td width="15%">
                        <button type="button" class="btn btn-primary">Добавить вопрос</button>
                    </td>
                    <td width="15%">
                        <form asp-action="Delete" method="post">
                            <div class="form-actions no-color">
                                <a asp-action="Delete" type="submit" class="btn btn-danger">Удалить тему</a>

                            </div>
                        </form>
                    </td>

                </tr>
            }
            <a asp-action="Create" type="button" class="btn btn-info">Добавить тему</a>


        </tbody>
    </table>
